div {
	height: 100px;
	width: 100px;
	background-color: #39cccc;
	margin: 100px;
	display: inline-block;
	transition: transform 2s;
}

#first:hover {
	transform: rotate(3600deg);
}

#second:hover {
	transform: scale(4,-2);
}

#third:hover {
	transform: skew(-10deg,50deg);
}

#fourth:hover {
	transform: translate(150px);
}